@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins';
}
body {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(79, 81, 87);
    color: rgb(219, 219, 219);
}
.changelog-container {
    text-align: center;
    padding: 1rem;
    border: 1px solid black;
    border-radius: 1rem;
    box-shadow: .2rem .2rem 1rem #b4b4b4;
}
.introduction {
    padding: 1rem 0 2rem 0;
}
.introduction p {
    color: rgb(185, 186, 187);
}
.list-timeline {
    text-align: center;
    font-size: .9rem;
}
.timeline-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1rem 0;
}
.timeline-date {
    flex: 1;
    text-align: right;
    padding-right: 1rem;
}
.timeline-dot {
    height: 1rem;
    width: 1rem;
    background-color: #fff;
    border-radius: 50%;
    position: relative;
}
.timeline-dot::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: .15rem;
    height: 5rem;
    background-color: #fff;
}
.timeline-content {
    flex: 2;
    text-align: left;
    padding-left: 1rem;
}