@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Young+Serif&display=swap');
*::before, *::after, * {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1rem;
}
body {
    font-family: "Poppins";
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    margin-bottom: 5rem;
    height: auto;
    background-color: #dbdbdb;

    .testimonial-cards {
        width: 60vw;
        display: grid;
        gap: 1rem;
        grid-template-columns: repeat(2, 1fr);
        .cards {
            height: auto;
            .profile {
                display: inline-flex;
                align-items: center;
                margin: 1.5rem 0 0 .5rem;
                gap: 1rem;
                .profile__avatar {
                    height: 4rem;
                    border-radius: 50%;
                }
                .profile__name {
                    font-weight: 600;
                }
                .profile__title {
                    font-size: .8rem
                }
            }
        }
        .card1 {
            .card1__speech {
                padding: 1rem;
                border-radius: 1rem;
                background-color: #1e1e1e;
                color: #fff;
            }
        }
        .card2 {
            border: .2rem solid black;
            padding: 1rem;
            border-radius: 1rem;
        }
        .card3 {
            display: inline-flex;
            grid-column: span 2;
            gap: 1rem;
            .card3__image {
                height: 100%;
                width: 15rem;
                border-radius: 1rem;
            }
            .card3__details {
                height: auto;
                padding: 1rem 2rem;
                border-radius: 1rem;
                background-color: #1e1e1e;
                color: #fff;
                .card3__rating {
                    font-size: 1.5rem;
                    color: yellow;
                }
                .card3__name {
                    font-size: 1.5rem;
                    font-weight: 600;
                }
                .card3__title {
                    color: rgb(107, 107, 107);
                    font-weight: 500;
                }
                .card3__speech {
                    margin-top: .5rem;
                }
            }
        }
        .card4 {
            border: .2rem solid black;
            padding: 2rem;
            border-radius: 1rem;
            grid-column: span 2;

            .profile__container {
                margin-top: 2rem;
                display: flex;
                justify-content: center;
                align-items: center;
                .profile__images {
                    text-align: center;
                    img {
                        margin: 0 .5rem;
                        width: 4rem;
                        height: 4rem;
                        border-radius: 50%;
                        opacity: 0.3;
                    }
                    .list-of-profile__active {
                        width: 5rem;
                        height: 5rem;
                        opacity: 1;
                    }
                    .list-of-profile__name {
                        font-weight: 600;
                    }    
                }
                .symbol {
                    font-weight: 700;
                    font-size: 1.5rem;
                }

            }
        }
        .arrow {
            height: 2rem;
            width: 2rem;
            background-color: #1e1e1e;
            position: relative;
            top: 1.5rem;
            left: .5rem;
            z-index: -1;
            transform: rotate(45deg);
        }
    }
}
